<a href="https://colab.research.google.com/github/ThiagoMartins7/Treinando-Python/blob/main/Curso_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [101]:
#Logica de programação

# Entender o que está sendo proposto

#Percorrer todos os arquivos da pasta de dados

import os
import pandas as pd
import plotly.express as px

tabela_faturamento = tabela_faturamento[["faturamento"]].sort_values(by='faturamento', ascending=False

lista_arquivo = os.listdir('/content/drive/MyDrive/Python/Vendas')
tabela_total = pd.DataFrame()

#Importar a base de dados

for arquivo in lista_arquivo:
  if 'Vendas' in arquivo: 
    tabela = pd.read_csv(f'/content/drive/MyDrive/Python/Vendas/{arquivo}')
    tabela_total = tabela_total.append(tabela)


#Compilar as bases de dados

display(tabela_total)

,Unnamed: 0,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario,Unnamed: 8
0,40,HL1148,Câmera,2,Gabriel,Almeida,11/16/2018,Salvador,2100,NaN
1,42,HL2714,Tablet,5,Rodrigo,Alves,2/27/2018,Salvador,1600,NaN
2,51,HL1918,iPhone,4,Ulisses,Arruda,5/5/2018,Salvador,5300,NaN
3,70,HL9962,Android,3,Raissa,Negrelli,3/10/2018,Salvador,3400,NaN
4,94,HL1918,iPhone,2,Breno,Caputo,3/30/2018,Salvador,5300,NaN
...,...,...,...,...,...,...,...,...,...,...
714,9859,HL2714,Tablet,1,Júlio,Fraga,12/25/2018,Curitiba,1600,NaN
715,9876,HL4379,Televisão,5,Bruno,Mota,4/30/2018,Curitiba,2500,NaN
716,9918,HL1148,Câmera,2,Lucas,Reis,12/27/2018,Curitiba,2100,NaN
717,9944,HL1918,iPhone,5,Raphael,Kurtz,7/16/2018,Curitiba,5300,NaN
718,9998,HL7348,SmartWatch,1,Vinícius,Antunes,12/10/2018,Curitiba,1400,NaN

In [72]:
#Calcular o produto que mais vendeu

tabela_produtos = tabela_total.groupby('Produto').sum()
tabela_produtos = tabela_produtos[["Quantidade Vendida","Preco Unitario"]].sort_values(by='Quantidade Vendida', ascending=False)
display(tabela_produtos)

#Obs: oque cada tag faz? a groupby pega o produto especificado na tabela; a sum= soma; a sort_values: ordena os valores; o by é o produto em questão, e o ascending é a ordem que é mostrada

            Quantidade Vendida  Preco Unitario
Produto
iPhone                    9569        16816900
Televisão                 6414         5305000
Notebook                  3533         4039000
Android                   3399         3859000
SmartWatch                3201         1496600
Tablet                    3076         1646400
Câmera                    3002         2175600

In [116]:
# Calcular o produto que mais faturou

tabela_total['Faturamento'] = tabela_total['Quantidade Vendida'] * tabela_total['Preco Unitario']


tabela_faturamento = tabela_total.groupby('Produto').sum()
display(tabela_faturamento)

,Unnamed: 0,Quantidade Vendida,Preco Unitario,Unnamed: 8,Faturamento
Produto,,,,,
Android,5164013,3183,3631200,0.0,10822200
Câmera,4848296,2805,2020200,0.0,5890500
Notebook,5393100,3249,3717000,0.0,11371500
SmartWatch,4968367,2980,1393000,0.0,4172000
Tablet,4920118,2921,1556800,0.0,4673600
Televisão,9675708,5931,4905000,0.0,14827500
iPhone,15015399,8974,15778100,0.0,47562200

In [100]:
#Calcular a loja que mais vendeu - Criar um Dashboard

tabela_lojas = tabela_total.groupby('Loja').sum()
tabela_lojas = tabela_lojas[['faturamento']].sort_values(by='faturamento', ascending=False)
display(tabela_lojas)

                faturamento
Loja
São Paulo          22098300
Rio de Janeiro     14867800
Fortaleza          14087900
Salvador           13111300
Goiás               7441800
Recife              7303000
Curitiba            7060500
Porto Alegre        6868600
Belo Horizonte      6480300

In [102]:
#Juntamente com a biblioteca plotly.express criarei o grafico

grafico = px.bar(tabela_lojas, x=tabela_lojas.index , y='faturamento')
grafico.show()